<div class="row">
    <div class="col-md-2 vcenter">
        <a href="">
            <img class="img-logo-small" src="~/Content/themes/base/images/KFC-FrenchFried.png" />
        </a>
    </div>
    <div class="col-md-6 vcenter">
        <h3>KFC French Fries</h3>
        <div>Description.</div>
    </div>
    <div class="col-md-2 vcenter">
        <div class="text-right">
            <i class="uk-icon-plus menu text-right"></i>
        </div>
    </div>
</div>
<div class="row row-text-center text-center"><h5><a>Load more</a></h5></div>
