<div class="main-search-container row-content-expand">
    <div class="row row-content-expand">
        <div class="text-center">ĐƠN HÀNG</div>
    </div>
    <div class="row row-center">
        <div class="col-md-2 vcenter">
            Number
        </div>
        <div class="col-md-5 vcenter">
            Dish
        </div>
        <div class="col-md-3 vcenter ">
            Price
        </div>
    </div>
    <div class="row row-center">
        <div class="col-md-2 vcenter">
            <i class="uk-icon-plus"></i>
            <div>
                @Html.TextBox("Number", null, new { @class = "txt-sm" })
            </div>
            <i class="uk-icon-minus"></i>
        </div>
        <div class="col-md-5 vcenter">
                KFC French Fries
        </div>
        <div class="col-md-3 vcenter">
            700.000
        </div>
    </div>
    <div class="row row-center">
        <div class="col-md-2 text-left vcenter">
            Sum
        </div>
        <div class="col-md-5 vcenter">
        </div>
        <div class="col-md-3 vcenter">
            700.000
        </div>
    </div>
</div>