.dropdown-menu li a {
    font-size: 12px;
    padding: 6px 8px;
    width: 254px;
    float: left;
    font-weight: 700;
    border-bottom: #f5f5f5 1px solid;
}

.navbar-nav
{
    li{
        .dropdown-menu
        {
            padding:0;
        }
    }
}