<div class="text-left">
    <div>
        <h2 class="font-family-normal">Chúng tôi cam kết</h2>
        <ul class="info">
            <li class="list-group-item-custom">- Chỉ sử dụng dầu ăn Tường An.</li>
            <li class="list-group-item-custom">- Sữa Vinamilk, pho mai được mua từ công ty Kiwi Food.</li>
            <li class="list-group-item-custom">- Không sử dụng đường hóa học các chất phụ gia và thực phẩm độc hại.</li>
            <li class="list-group-item-custom">- Chúng tôi cam kết sẽ dành trọn tâm huyết để mang đến cho quý khách những món ăn ngon, an toàn và giá thành hợp lý.</li>
        </ul>
        <h2>Trân trọng !</h2>
    </div>
</div>